<main role="main" class="container" id="container" style="margin-bottom: 40px;">

	<input type="hidden" id="userId" value="{{user.uuid}}">
	<input type="hidden" id="buildingId" value="{{user.BuildingId}}">
	<input type="hidden" id="userType" value="{{user.userType}}">

	<h1>Welcome, {{user.name}}</h1>
	<h2>Your Building Number is: {{phonenumber}}</h2>
	<br>
	<ul class="nav nav-tabs" id="dash-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="true">Issues</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="graph-tab" data-toggle="tab" href="#graphs" role="tab" aria-controls="analytics" aria-selected="false">Analytics</a>
		</li>
	</ul>
	<br>

	<div class="tab-content" id="dash-tab-content">
		<div class="tab-pane fade show active" id="issues" role="tabpanel" aria-labelledby="issues-tab">
			{{#ifCond user.userType "===" "tenant"}}
			<div class="row">
				<div class="col">
					<h3>File an Issue</h3>
					<div class="form-group">
						<label for="category">Category</label><br>
						<select class="custom-select form-control" id="category" style="width: 100%;">
							<option></option>
							<option>Roaches</option>
							<option>Bed Bugs</option>
							<option>Mice</option>
							<option>Leak</option>
							<option>Light Bulb</option>
							<option>Stolen Mail</option>
							<option>Noise</option>
						</select>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" id="description" rows="3" style="resize: none;"></textarea>
					</div>
					<div class="form-group">
						<label for="quantity">Quantity</label>
						<input type="number" class="form-control" id="quantity" min=1 value=1></input>
					</div>
					<button type="submit" class="btn btn-primary" id="create-issue">Submit</button>
					<hr>
				</div>
			</div>
			{{/ifCond}}
			<div class="row" id="issue-row">
				<div class="col-3">
					<h3>Filter Issues</h3>
					<div class="filtering-div">
						<div class="form-group">
							<label for="filter-select">Filter:</label>
							<select class="custom-select" id="filter-select">
								<option value="">(no filter)</option>
								<option>Class</option>
								<option>Category</option>
								<option>Reporter</option>
								<option>Time</option>
							</select>
							<button class="btn btn-primary" id="filter-button">Apply</button>
						</div>
						<div class="form-group" id="filter-options"></div>
					</div>
				</div>
				<div class="col">
					<h3>Issues <span id="num-issues"></span></h3>
					<table class="table-bordered table-striped issues">
						<thead>
							<th>Class</th>
							<th>Category</th>
							<th>Description</th>
							<th>Quantity</th>
							<th>Apartment</th>
							<th>Time</th>
							{{#ifCond user.userType "===" "landlord"}} <th></th> {{/ifCond}}
						</thead>
						<tbody id="issue-table-body">
							<!--{{#each issues}}
								<tr>
									<td>{{#if this.class}} {{this.class}} {{/if}}</td>
									<td>{{#if this.category}} {{this.category}} {{/if}}</td>
									<td>{{#if this.description}} {{this.description}} {{/if}}</td>
									<td>{{this.quantity}}</td>
									<td>{{#ifCond this.Tenant "&&" this.Tenant.apt}} {{this.Tenant.apt}} {{/ifCond}}</td>
									<td>{{#date}} {{this.createdAt}} {{/date}}</td>
								</tr>
							{{/each}}-->
						<tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="graphs" role="tabpanel" aria-labelledby="graph-tab">


			<!-- Graph stuff goes here -->

			<div class="row">
				<div class="col-md-8">
					<h2>Occurance Chart</h2>
					<br>
					<canvas id="myChart"></canvas>
				</div>
				<div class="col-md-4">
					<h2>Problem Breakdown</h2>
					<br>
					<canvas id="donutChart"></canvas>
				</div>

				<hr>


			</div>
			<div class="row">
				<div class="col-md-12">
					<tbody id="issue-table-body">
						<!--{{#each issues}}
							<tr>
								<td>{{#if this.class}} {{this.class}} {{/if}}</td>
								<td>{{#if this.category}} {{this.category}} {{/if}}</td>
								<td>{{#if this.description}} {{this.description}} {{/if}}</td>
								<td>{{this.quantity}}</td>
								<td>{{#ifCond this.Tenant "&&" this.Tenant.apt}} {{this.Tenant.apt}} {{/ifCond}}</td>
								<td>{{#date}} {{this.createdAt}} {{/date}}</td>
							</tr>
						{{/each}}-->
					<tbody>

				</div>

			</div>

		</div>
	</div>
</main>
<script src="https://use.fontawesome.com/a50ca22383.js"></script>
<script src="assets/js/chart.js" type="text/javascript"></script>
<script>
	const isLandlord = $("#userType").val() === 'landlord';

	$('#dash-tabs a').on('click', function (e) {
		e.preventDefault();
		$(this).tab('show');
	});

	$("#create-issue").on('click', (event) => {
		var cat = $("#category").val();
		var desc = $("#description").val();
		var quant = parseInt($("#quantity").val());

		var issue = {
			TenantUuid: $("#userId").val(),
			BuildingId: parseInt($("#buildingId").val()),
		};
		if (cat && cat.length > 0) issue.category = cat;
		if (desc && desc.trim().length > 0) issue.description = desc.trim();
		if (quant > 0) issue.quantity = quant; else issue.quantity = 1;

		if (issue.description || issue.category) {
			$.post("/api/issue", issue).then(res => {
				location.reload();
			});
		}
	});

	$("#filter-button").on('click', event => {
		switch ($("#filter-select").val()) {
		case 'Class':
			return $.get("/api/issues/class/" + $("#filter-class").val()).then(issues => {
				fillIssueTable(issues);
			});
		case 'Category':
			return $.get("/api/issues/category/" + $("#filter-category").val()).then(issues => {
				fillIssueTable(issues);
			});
		case 'Reporter':
			return $.get("/api/issues/reporter/" + $("#filter-reporter").val()).then(issues => {
				fillIssueTable(issues);
			});
		case 'Time':
			return $.get("/api/issues/time/" + $("#filter-time").val()).then(issues => {
				fillIssueTable(issues);
			});
		default:
			return $.get("/api/issues").then(issues => {
				fillIssueTable(issues);
			});
		}
	});

	$("#filter-select").on('change', event => {
		$.get("/api/building").then(building => {
			switch ($("#filter-select").val()) {
			case 'Class':
				filterControlHTML = "<hr><label for='filter-class'>Class:</label>\n<select id='filter-class' class='custom-select'><option value='null'>(no class)</option><option>Pests</option><option>Infrastructure</option><option>People</option></select>";
				break;
			case 'Category':
				filterControlHTML = "<hr><label for='filter-category'>Category:</label>\n<select id='filter-category' class='custom-select'><option value='null'>(no category)</option><option>Roaches</option><option>Bed Bugs</option><option>Mice</option><option>Leak</option><option>Light Bulb</option><option>Stolen Mail</option><option>Noise</option></select>";
				break;
			case 'Reporter':
				filterControlHTML = "<hr><label for='filter-reporter'>Reported By:</label>\n<select id='filter-reporter' class='custom-select'><option value='null'>(unknown reporter)</option>";
				for (var i = 0; i < building.Tenants.length; i++) {
					filterControlHTML += "<option value=" + building.Tenants[i].uuid + ">" + building.Tenants[i].name + "</option>"
				}
				filterControlHTML += "</select>";
				break;
			case 'Time':
				filterControlHTML = "<hr><label for='filter-time'>Within the last:</label>\n<select id='filter-time' class='custom-select'><option>Hour</option><option>Day</option><option>Week</option><option>Month</option><option>Year</option></select>";
				break;
			default:
				break;
			}
			$("#filter-options").html(filterControlHTML);
		});
	});
	
	$(document).on('click', '.issue-marker', function(event) {
		var $this = $(this);
		//console.log(parseInt($this.attr('data-issueId')));
		$.post("/api/issue/mark-noted/" + $this.attr('data-issueId')).then(res => {
			location.reload();
		}).fail(err => {
		  console.log(err);
	  });
	});

	$.get("/api/issues").then(issues => {
		fillIssueTable(issues);
	});

	function fillIssueTable(issues) {
		$("#issue-table-body").empty();
		$("#num-issues").empty().text("(" + issues.length + ")");

		for (var i = 0; i < issues.length; i++) {
			var row = $("<tr>")
				.append($("<td>").text(issues[i].class || ""))
				.append($("<td>").text(issues[i].category || ""))
				.append($("<td>").text(issues[i].description || ""))
				.append($("<td>").text(issues[i].quantity))
				.append($("<td>").text((issues[i].Tenant && issues[i].Tenant.apt) ? issues[i].Tenant.apt : ""))
				.append($("<td>").text(moment(new Date(issues[i].createdAt).toISOString()).format("M/D/YYYY h:mm a")))
			;
			if (isLandlord) {
				row.append($("<td>").html("<button class='btn btn-secondary issue-marker' data-issueId=" + issues[i].id + " " + (issues[i].noted ? "disabled" : "") + "><i class='fa fa-check' aria-hidden='true'></i></button>"));
			}
			if (issues[i].noted) {
				row.addClass("noted-issue")
			};
			$("#issue-table-body").append(row);
		}
	}

</script>
