<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron bg-primary">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-light">SerfBoard</h1>
            <p class="lead text-light">An application to streamline tenant feedback.</p>

          </div>

        </div>
        <hr>
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-light">Let's find your address to set you up</h3>
            <br>
            <input class="form-control" id="addressLookUp" placeholder="Enter address here">

          </div>
          <div class="col-md-2 offset-5">
            <br>
            <button type="button" class="btn btn-success" id="searchAddress">Search</button>


          </div>

        </div>
        <!-- <h1 class="text-light">SerfBoard</h1> -->
        <!-- <p class="lead text-light">An application to streamline tenant feedback.</p> -->


					<!-- <div class="col-md-8 offset-2">
						<h2>First, have you texted a serfBoard number or know what your serfBoard number is?</h2>

					</div>
					<button type="button" class="offset-5 btn btn-light" id="yes"><a href="/api/number"></a>Yes</button>
					<button type="button" class="btn btn-danger" id="no"><a href="/api/building"></a>No</button> -->


      </div>
      <!-- TRUE IF CONDITION -->
      {{#if condition }}

      condition true, we could find you

      {{title}}

      <div class="jumbotron bg-success">
        <h2>It looks like there is a SerfBoard at your location:</h2>
        <hr class="my-4">
        <p>Is this the right board?</p>
        <p>{{address}}</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" data-id="{{building}}" id="registerTenant">Register a new Tenant</a>
        </p>
      </div>

      <!-- END OF TRUE IF CONDITION -->
      {{else}}

      <!-- FALSE IF CONDITION -->

      {{title}}

      <div class="jumbotron bg-warning">
        <h2>It looks like there isn't a SerfBoard at your location:</h2>
        <hr class="my-4">
        <p>Would you like to start a board at this location?</p>
        <p>{{address}}</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" id="registerLocation">Register this location</a>
        </p>
      </div>

      {{/if}}

    </div>

  </div>

</main>
