<main role="main" class="container">
  <div class="jumbotron bg-info">
    <h1 class="text-light">Welcome Tenant</h1>
    <div id="title" data-id="{{title}}"></div>
    <div id="addressHolder" data-id="{{address}}"></div>

    <p class="lead text-light">Let's get you started</p>
    <br>
    <h2>You are currently registering for: {{address}}</h2>
    <br>
    {{#if condition }}

    <!-- condition was met -->

    <div class="jumbotron bg-success">
      <h2>You're almost ready!</h2>
      <hr class="my-4">
      <p>Make sure this is the right building</p>
      <p>{{address}}</p>
      <p class="lead">
      </p>
    </div>

    <h2>Register Tenant Form</h2>
    <br>

  <div class="row">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control formValid" id="name" aria-describedby="NameHelp" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control formValid" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control formValid" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="apt">Apartment</label>
        <input class="form-control formValid" id="apt" placeholder="Apartment">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input class="form-control formValid" id="phone" placeholder="Number">
      </div>
      <div class="form-check">
      </div>
      <button type="submit" class="btn btn-primary" blinker="on" id="newSign">Submit</button>
      </form>
  </div>

    <!-- condition NOT met -->

    {{else}}

    <div class="jumbotron bg-warning">
      <h2>Register your building here!</h2>
      <hr class="my-4">
      <p>Doublecheck that this is the right building</p>
      <p>{{address}}</p>
      <form>
        <div class="form-group">
          <label for="landLordPhone">Landlord's phone number</label>
          <input class="form-control formValid" id="landLordPhone" aria-describedby="NameHelp" placeholder="Enter Landlord's Phone Number">
        </div>
        <div class="form-group">
          <label for="landLordEmail">Landlord's email</label>
          <input class="form-control formValid" id="landLordEmail" aria-describedby="NameHelp" placeholder="Enter Landlord's Email">
        </div>
      </form>
    </div>

    <h2>Register Tenant Form</h2>
    <br>

  <div class="row">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control formValid" id="name" aria-describedby="NameHelp" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control formValid" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control formValid" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="apt">Apartment</label>
        <input class="form-control formValid" id="apt" placeholder="Apartment">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input class="form-control formValid" id="phone" placeholder="Number">
      </div>
      <div class="form-check">
      </div>
      <button type="submit" class="btn btn-primary" blinker="off" id="newSign">Submit</button>
      </form>
  </div>

    {{/if}}


    <!-- row -->
    <!-- Name -->
    <!-- Email -->
    <!-- Password -->
    <!-- Building -->
    <!-- Apartment -->
    <!-- Phone Number -->


  </div>
</main>
