<main role="main" class="container">
  <div class="jumbotron bg-info">
    <h1 class="text-light">Welcome Tenant</h1>
    <div id="title" data-id="{{title}}"></div>
    <div id="addressHolder" data-id="{{address}}"></div>

    <p class="lead text-light">Let's get you started</p>

    <!-- <br> -->
    {{#if condition }}

    <!-- condition was met -->
    <hr>

      <h2>You are currently registering for: </h2>
      <h3>{{address}}</h3>
      <hr class="my-4">
      <!-- <h3>*Make sure this is the right building!</h3> -->
      <p class="lead">
      </p>
<!--
    <hr> -->

    <h2>Register Tenant Form</h2>
    <br>

  <div class="row">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control formValid" id="name" aria-describedby="NameHelp" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control formValid" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control formValid" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="apt">Apartment</label>
        <input class="form-control formValid" id="apt" placeholder="Apartment">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input class="form-control formValid" id="phone" placeholder="Number">
      </div>
      <div class="form-check">
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary" blinker="on" id="newSign">Submit</button>
      </div>
      <br>
      <div class="">
        <button type="button" class="btn btn-danger home"><a href="/"></a>Back</button>
      </div>
      </form>
  </div>

    <!-- condition NOT met -->

    {{else}}

    <hr>
      <h2>Register your building here!</h2>
      <hr class="my-4">

      <h2>{{address}}</h2>
      <form>
        <div class="form-group">
          <label for="landLordPhone">Landlord's phone number</label>
          <input class="form-control formValid" id="landLordPhone" aria-describedby="NameHelp" placeholder="Enter Landlord's Phone Number">
        </div>
        <div class="form-group">
          <label for="landLordEmail">Landlord's email</label>
          <input class="form-control formValid" id="landLordEmail" aria-describedby="NameHelp" placeholder="Enter Landlord's Email">
        </div>
      </form>
    <hr>
    <br>

    <h2>Register Tenant Form</h2>

<br>

  <div class="row">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control formValid" id="name" aria-describedby="NameHelp" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control formValid" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control formValid" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="apt">Apartment</label>
        <input class="form-control formValid" id="apt" placeholder="Apartment">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input class="form-control formValid" id="phone" placeholder="Number">
      </div>
      <div class="form-check">
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary" blinker="off" id="newSign">Submit</button>
      </div>
      <br>
      <div class="">
        <button type="button" class="btn btn-danger home"><a href="/"></a>Back</button>
      </div>
      </form>
  </div>

    {{/if}}


    <!-- row -->
    <!-- Name -->
    <!-- Email -->
    <!-- Password -->
    <!-- Building -->
    <!-- Apartment -->
    <!-- Phone Number -->


  </div>
</main>
